<header class="site-header">
  <a class="site-title" data-link="index.html" href="index.html">Y2K Win98</a>
  <nav class="site-nav" aria-label="Primary navigation">
  <a class="nav-link" data-link="index.html" href="index.html">Home</a>
  <a class="nav-link" data-link="pages/about.html" href="pages/about.html">About</a>
  <a class="nav-link" data-link="pages/blog.html" href="pages/blog.html">Blog</a>
  <a class="nav-link" data-link="pages/case-studies.html" href="pages/case-studies.html">Case Studies</a>
  <a class="nav-link" data-link="pages/contact.html" href="pages/contact.html">Contact</a>
  <a class="nav-link" data-link="pages/projects.html" href="pages/projects.html">Projects</a>
  <a class="nav-link" data-link="pages/skills.html" href="pages/skills.html">Skills</a>
  <a class="nav-link" data-link="pages/testimonials.html" href="pages/testimonials.html">Testimonials</a>
  <a class="nav-link" data-link="pages/work.html" href="pages/work.html">Work</a>
  </nav>
</header>
